@import '~includes.less';

.formBlock {
}

.buttonReturnToList {
    font-size: 16px;
}

.error {
    margin-bottom: 20px;
}

.content {
}

.formBlockItem {
    padding: 20px 15px;

    &:nth-child(even) {
        background: var(--bg-nth-color);
    }

    &:first-child {
        // padding-top: 0;
    }
}

.formBlockItemSub,
.formBlockItemAfter {
    max-width: 800px;
    margin: 0 auto !important;
}

.formBlockItemAfter {
    padding-top: 5px;
}
